
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-repeat: repeat;
  background-size: auto;

  
}

.tc {
  color: white;
}




.pc {
  color: white;
  text-align: center;
  position: relative;
  z-index: 100;
}

.ec {
  color: white;
  text-align: left;
  position: relative;
  z-index: 100;
}


.gif-range {
  position: fixed;
  right: 0px;
  bottom: 0px;
  transform: translateY(-85%);
  width: 100px;
}

.deets {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 200px;

}

.schrodinger {
  position: fixed;
  right: 20px;
  top: 175px;
  width: 200px

}

.bell {
  position: fixed;
  right: 300px;
  top: 175px;
  width: 180px;

}

.superposition {
  position: fixed;
  right: 550px;
  top: 175px;
  width: 180px;

}

.uncertain {
  position: fixed;
  right: 790px;
  top: 175px;
  width: 180px;


}
.back {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 200px;


}

.wesoback {
  position:fixed;
  right: 550px;
  bottom: 100px;
  width:200px


}

.cat {
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 500px;

}

.frank {
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 500px;


}

.rat {
  position: relative;
  left:0px;
  bottom: 0px;
  width: 400px;

}

.wave {
  position: fixed;
  left: 100px;
  top: 175px;
  width: 200px;
  
}
.gif-lol {
  position: fixed;
  left: 500px;
  top: 95;
  width: 300px;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-repeat: repeat;
  background-size: auto;

  
}

.tc {
  color: white;
  text-align: center;
}




.pc {
  color: white;
  text-align: center;
  position: relative;
  z-index: 100;
}

.ec {
  color: white;
  text-align: left;
  position: relative;
  z-index: 100;
}


.gif-range {
  position: fixed;
  right: 0px;
  bottom: 0px;
  transform: translateY(-85%);
  width: 100px;
}

.gif-lol {
  position: fixed;
  left: 500px;
  top: 95;
  width: 300px;
}

.tc ul, .tc li, ul.tc, li.tc {
  text-align: center;
  list-style-position: inside;
}