
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-repeat: repeat;
  background-size: auto;

  
}

.tc {
  color: white;
}




.pc {
  color: white;
  text-align: center;
  position: relative;
  z-index: 100;
}

.ec {
  color: white;
  text-align: left;
  position: relative;
  z-index: 100;
}


.gif-range {
  position: fixed;
  right: 0px;
  bottom: 0px;
  transform: translateY(-85%);
  width: 100px;
}

.gif-lol {
  position: fixed;
  left: 500px;
  top: 95;
  width: 300px;
}
